@import "filepond/dist/filepond.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Montserrat Variable", system-ui, sans-serif;
    }

    body {
        @apply bg-[#1F1F2E] text-[#F5F5F5];
    }

    main {
        @apply bg-[#FAFAFA] text-[#1F1F2E];
    }
}

@layer components {
    .text-gradient {
        @apply bg-gradient-to-r from-[#2B6CB0] to-[#2fa89c] bg-clip-text inline-block text-transparent;
    }
}

/**
 * TipTap
 */
.ProseMirror {
    @apply outline-none p-6 min-h-[20rem];
}

.ProseMirror * + p {
    @apply pt-3;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    @apply text-[#6B7280];
}

/**
 * Toggle checkbox
 */

.toggle-checkbox {
    @apply relative bg-gray-400 rounded-full appearance-none w-12 h-6 cursor-pointer;
}

.toggle-checkbox-amber {
    @apply bg-amber-300;
}

.toggle-checkbox::before {
    content: "";
    @apply absolute left-0 block bg-white border-2 border-gray-400 rounded-full w-6 h-6;
}

.toggle-checkbox-amber::before {
    @apply border-amber-300;
}

.toggle-checkbox:checked, .toggle-checkbox-amber:checked {
    @apply bg-[#2B6CB0]; /* bleu harmonieux */
}

.toggle-checkbox:checked::before {
    @apply left-auto right-0;
}

.article h1 {
    @apply text-[#1F1F2E] font-semibold text-3xl pb-4 leading-tight;
}

.article h2 {
    @apply font-semibold text-xl pb-4 leading-tight;
    color: #0BC5EA;
    background: linear-gradient(90deg, #38B2AC, #0BC5EA);
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

strong {
    @apply font-semibold;
}

@screen lg {
    .article h1 {
        @apply text-4xl;
    }

    .article h2 {
        @apply text-2xl;
    }

    .article h3 {
        @apply text-xl;
    }
}

.article p {
    @apply pb-4 text-justify text-[#374151];
}

.article ul,
.article ol {
    @apply pb-4;
}

.article a {
    @apply underline text-[#2B6CB0];
}

.article ul li {
    @apply relative pl-3;
}

.article ul li::before {
    content: "- ";
    @apply absolute left-0 text-[#4A5568];
}

.sav {
    background: #F0FAFA url('/images/sav.jpg') no-repeat 0 50%;
    background-size: contain;
}
